.form-container {
   display: flex;
   flex-direction: column;
 }

.form-container > * {
   width: 80%;
   align-self: center;
 }

.tp-radio-group {
   display: inline-flex;
   flex-direction: column;
}
.tp-radio-button {
   margin: 5px;
}
.tp-selected-value {
   margin: 15px 0;
}