<div class="container-home">
    <img class="img" src="../../../assets/background_img.jpg">
    <div class="card main-card">
        <hr />
        <div class="card-body">
            <h5 class="card-title">Momentos Soluções em Visualização de Dados</h5>
            Nós somos uma empresa de Data Visualization, estamos no mercado a mais de 20 anos, com mais de 10.000
            clientes pelo mundo inteiro.
            <br>
            <a routerLink="/clientes" class="btn btn-danger mt-5"><b>Caso Posto Total</b></a>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h6> <b>Principais Clientes:</b></h6>
    <div class="row">
        <div class="col-3">
            <img class="logo" src="../../../assets/amazon.jpeg">
        </div>
        <div class="col-3">
            <img class="logo" src="../../../assets/ferreira_logo.png">
        </div>
        <div class="col-3">
            <img class="logo" src="../../../assets/walmart.jpeg">
        </div>
        <div class="col-3">
            <img class="logo" src="../../../assets/Aliexpress-logo.png">
        </div>
    </div>
</div>