.chartShadow{
    width: 100%;
    margin: 20px auto;
    -webkit-box-shadow: 14px 13px 33px -15px rgba(93,98,181,0.68);
    -moz-box-shadow: 14px 13px 33px -15px rgba(93,98,181,0.68);
    box-shadow: 14px 13px 33px -15px rgba(93,98,181,0.68);    
}